<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobile.app.dao.AppMapper" >
  <resultMap id="BaseResultMap" type="com.mobile.app.bean.App" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="appname" property="appname" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="appicon" property="appicon" jdbcType="VARCHAR" />
    <result column="apkurl" property="apkurl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="filesize" property="filesize" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="developer" property="developer" jdbcType="VARCHAR" />
    <result column="apptype" property="apptype" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="downloadNums" property="downloadnums" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="codeurl" property="codeurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appname, version, appicon, apkurl, description, filesize, updatetime, developer, 
    apptype, price, downloadNums, platform, status, codeurl
  </sql>
  
  
  <select id="findAllApp" resultMap="BaseResultMap" parameterType="map">
  	select 
    <include refid="Base_Column_List" />
    from t_app
    limit #{start} , #{length}
  </select>
  
  <select id="appCount" resultType="java.lang.Integer">
  	select count(*) from t_app
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_app
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_app
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mobile.app.bean.App" >
    insert into t_app (id, appname, version, 
      appicon, apkurl, description, 
      filesize, updatetime, developer, 
      apptype, price, downloadNums, 
      platform, status, codeurl
      )
    values (#{id,jdbcType=VARCHAR}, #{appname,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{appicon,jdbcType=VARCHAR}, #{apkurl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{filesize,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{developer,jdbcType=VARCHAR}, 
      #{apptype,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{downloadnums,jdbcType=VARCHAR}, 
      #{platform,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{codeurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mobile.app.bean.App" >
    insert into t_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appname != null" >
        appname,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="appicon != null" >
        appicon,
      </if>
      <if test="apkurl != null" >
        apkurl,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="filesize != null" >
        filesize,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="developer != null" >
        developer,
      </if>
      <if test="apptype != null" >
        apptype,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="downloadnums != null" >
        downloadNums,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="codeurl != null" >
        codeurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appname != null" >
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="appicon != null" >
        #{appicon,jdbcType=VARCHAR},
      </if>
      <if test="apkurl != null" >
        #{apkurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="developer != null" >
        #{developer,jdbcType=VARCHAR},
      </if>
      <if test="apptype != null" >
        #{apptype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="downloadnums != null" >
        #{downloadnums,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="codeurl != null" >
        #{codeurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobile.app.bean.App" >
    update t_app
    <set >
      <if test="appname != null" >
        appname = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="appicon != null" >
        appicon = #{appicon,jdbcType=VARCHAR},
      </if>
      <if test="apkurl != null" >
        apkurl = #{apkurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null" >
        filesize = #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="developer != null" >
        developer = #{developer,jdbcType=VARCHAR},
      </if>
      <if test="apptype != null" >
        apptype = #{apptype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="downloadnums != null" >
        downloadNums = #{downloadnums,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="codeurl != null" >
        codeurl = #{codeurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobile.app.bean.App" >
    update t_app
    set appname = #{appname,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      appicon = #{appicon,jdbcType=VARCHAR},
      apkurl = #{apkurl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      filesize = #{filesize,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      developer = #{developer,jdbcType=VARCHAR},
      apptype = #{apptype,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      downloadNums = #{downloadnums,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      codeurl = #{codeurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>