<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobile.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.mobile.user.bean.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="loginName" property="loginname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="realName" property="realname" jdbcType="VARCHAR" />
    <result column="cardNum" property="cardnum" jdbcType="VARCHAR" />
    <result column="cardUrl" property="cardurl" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="licenseNum" property="licensenum" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="social_uid" property="socialUid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loginName, password, nickName, phone, mail, realName, cardNum, cardUrl, company, 
    licenseNum, address, roleid, status, social_uid
  </sql>
  
  
  
  <select id="login" parameterType="com.mobile.user.bean.User" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_user
  	where loginName=#{loginname} or  phone=#{phone} or mail=#{mail}
  	and password=#{password}
  </select>
  
  <select id="socialLogin" parameterType="java.lang.String" resultType="com.mobile.user.bean.User">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_user
  	where social_uid=#{social_uid}
  </select>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.mobile.user.bean.User" >
    insert into t_user (id, loginName, password, 
      nickName, phone, mail, 
      realName, cardNum, cardUrl, 
      company, licenseNum, address, 
      roleid, status, social_uid
      )
    values (#{id,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{cardnum,jdbcType=VARCHAR}, #{cardurl,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{licensenum,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{socialUid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mobile.user.bean.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginname != null" >
        loginName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="realname != null" >
        realName,
      </if>
      <if test="cardnum != null" >
        cardNum,
      </if>
      <if test="cardurl != null" >
        cardUrl,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="licensenum != null" >
        licenseNum,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="socialUid != null" >
        social_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null" >
        #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="cardurl != null" >
        #{cardurl,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="licensenum != null" >
        #{licensenum,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="socialUid != null" >
        #{socialUid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobile.user.bean.User" >
    update t_user
    <set >
      <if test="loginname != null" >
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="cardnum != null" >
        cardNum = #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="cardurl != null" >
        cardUrl = #{cardurl,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="licensenum != null" >
        licenseNum = #{licensenum,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="socialUid != null" >
        social_uid = #{socialUid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobile.user.bean.User" >
    update t_user
    set loginName = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      cardNum = #{cardnum,jdbcType=VARCHAR},
      cardUrl = #{cardurl,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      licenseNum = #{licensenum,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      social_uid = #{socialUid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>